body {
    background-image: url('https://store.nicalis.com/cdn/shop/products/IsaacRepentancebackground_0802f500-5966-4a84-8046-3ad316f0ef1c_1024x.png?v=1685475521');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}